
body{
   background-color: #ffffff;
    font-family: "Roboto", sans-serif; 
    color: #2E2F42;
    
}

.site-nav{
  list-style-type: none;
}

.link{
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #2E2F42;

}
link :hover,
link :focus{
  color: #404BBF;
}
  .hero{
    background-color: #2E2F42;
  } 
  .hero-title{
    
    color: #FCFCFC;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
  }
  button {
    background-color: #4D5AE5;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    cursor: pointer;
  
  }
  .features-list{
    list-style: none;
  }
.features-title{
  
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.features-text{

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}
.team{
  background-color: #F4F4FD;
}
.team-list{
  list-style: none;
}
.team-title{
  
  font-size: 36px;
  letter-spacing: 0.02em;
  color:#2E2F42;
  text-align: center;
  
}
.team-item{
  background-color: #FCFCFC;
  
}
.gruppe-team{
  
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;

}
.team-text{
  color: #434455;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5;
  text-align: center;
}
.portfolio-title{
color: #2E2F42;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
}
 .portfolio-list{
  list-style: none;
 }
 .portfolio-item{
  background-color:#FFFFFF;
 }
 .gruppe-portfolio{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
 }
 .portfolio-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  text-align: center;
  color: #434455;
 }
  


